plugin: amazon.aws.aws_ec2

regions:
  - ap-south-1

keyed_groups:
  - key: tags.Environment
    prefix: ""
    separator: ""

compose:
  ansible_host: public_ip_address
  ansible_user: ubuntu

filters:
  instance-state-name: running

